

/*Common css*/

body{
    font-family: "Poppins", sans-serif;

}
a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
}
.common_tittle h2{
    font-size: 48px;
    color: #282938;
    font-weight: 600;
    font-family: "Poppins", sans-serif;

}
.common_tittle p{
    font-size: 16px;
    color: #282938;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    width: 405px;
    padding: 16px 0px;

}
.common_tittle a{
    font-size: 16 px;
    color: #2405F2;
    font-family: "Poppins", sans-serif;

}

/*Common css*/
/*=======================
navber part start
========================*/
nav{
    background: #1C1E53;
    padding: 30px 0px !important;
}
.navbar-nav{
    column-gap: 32px;
    padding-right: 48px;
}
.nav-link{
    color: #bbbbcb;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    transition: .4s;
    padding-right: 0px !important;
    padding-left: 0px  !important;

    
}
.nav-link:hover{
    color: white;
}
.navber_button{
    background: transparent;
    text-decoration: none;
    padding: 16px 46px;
    border-radius: 41px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    border: 1px solid white;
    transition: .4s;

}

.navber_button:hover{
    background: #fcd980;
    border: 1px solid transparent;
    color: black;
}






/*=======================
navber part end
========================*/

/*=======================
Banner part start
========================*/

.banner{
    background: #1C1E53;
    padding: 200px 0px;
}

.banner h2{
    font-size: 54px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 600 !important;
    line-height: 72px;
    width: 500px;

}
.banner p{
    font-size: 16px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 500;
    line-height: 28px;
    width: 500px;
    padding-top: 24px;
    padding-bottom: 48px;

}
.banner .banner-button{
    background: #fcd980;
    padding: 16px 56px;
    border-radius: 40px;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    transition: .4s;
    border: 1px solid white;

}
.banner .banner-button:hover{
    background: transparent;
    border: 1px solid transparent;
    color: white;
    border-color: white;
}
.banner .banner-button2{
    text-decoration: none;
    padding: 16px 56px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;

}

.banner .banner-button2 {
    position: relative;
}
.banner .banner-button2 .button-icon{
    position: absolute;
    top: 22px;
    right: 24px;
}
/*=======================
Banner part end
========================*/

/*==========================
Work part start
============================*/
.work{
    padding: 128px;
    background: #F4F6FC;
}
.work .box{
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
   
}
.work .card{
    width: 50%;
    background: transparent;
    border: 0px;
    
}
.work .card img{
    width: 20%;
   
}
.work .card h4{
    font-size: 32px;
    color: rgb(23, 14, 14);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 8px;


}
.work .card p{
    font-size: 16px;
    color: #282938 ;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    width: 303px;


}
/*==========================
Work part end
============================*/

/*==========================
Project part start
============================*/
.project{
    padding: 128px;
}
.project .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 64px;
}
.project .box h2{
    font-size: 48px;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.project .box p{
    margin-top: 12px;
    font-size: 16px;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 400px;

}
.project p i{
    margin-left: 10px;
}
.project img{
    width: 100%;
}
.project .image_box{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.project .imageTwo{
    margin-left: 9px;
}
.project .firstImage{
    position: relative;
    overflow: hidden;
}
.project .firstImage .overly{
    width: 52%;
    height: 100%;
    background-image: linear-gradient(to right,  #1c1e536B, #1c1e53);
    position: absolute;
    top: 0;
    left: -52%;
    transition: .4s;
    padding-top: 312px;
    padding-left: 48px;
    padding-right: 36px;
}
.project .firstImage:hover .overly{
    left: 0;
}
.project .firstImage .overly h4{
    font-size: 24px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500px;

}
.project .firstImage .overly p{
    font-size: 16px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500px;
    border-top: 16px;
    padding-bottom: 30px;
    line-height: 28px;


}
.project .firstImage .overly a{
    font-size: 16px;
    color: #FCD980;
    font-family: "Poppins", sans-serif;
    font-weight: 500px;


}
.project .firstImage .overly a i{
    margin-left: 10px;


}
.project .SecondImage{
    position: relative;
    overflow: hidden;
}
.project .SecondImage .overly{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,  #1c1e536B, #1c1e53);
    position: absolute;
    top: -100%;
    left: 0;
    transition: .4s;
    
}
.project .SecondImage:hover .overly{
    top: 0;

    
}
.project .SecondImage h4{
    font-size: 24px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500px;
    width: 313px;
    padding-top: 129px;
    padding-left: 56px;

}
.project .SecondImage a{
    font-size: 16px;
    color: #FCD980;
    font-family: "Poppins", sans-serif;
    font-weight: 500px;
    padding-left: 56px;
    padding-top: 45px;


}
.project .SecondImage .overly a i{
    margin-left: 10px;
}
.project .SecondImage .overly p{
    font-size: 16px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500px;
    border-top: 16px;
    padding-bottom: 30px;
    line-height: 28px;


}    
/*==========================
Project part end
============================*/

/*==========================
Feature  part Start
============================*/

.feature{
    background: #f4f6fc;
    padding: 128px 0px;
}

.feature .common_tittle{
    text-align: center;
}
.feature .common_tittle h2{
    width: 619px;
    margin: 0 auto;
    text-align: center;
    line-height: 64px;
    padding-top: 16px;
    padding-bottom: 47px;
    

}
.feature .common_tittle p{
    width: 485px;
    margin: 0 auto;
    text-align: center;
        
}

.feature .feature_cards{
    width: 100%;
    height: 300px;
    background: white;
    border-radius: 10px;
    padding-top: 58px;
    padding-left: 48px;
    padding-bottom: 48px;
    padding-right: 32px;
}

.feature .feature_cards h4{
    padding-top: 22px;
    padding-bottom: 12px;
    color: #282938;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.feature .feature_cards{
    color: #282938;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;

}
.feature .gaping{
    row-gap: 24px;
}
/*==========================
Feature  part end
============================*/
/*==========================
About  part Start
============================*/
.About{
    padding: 130px;
    background: rgb(244, 246, 252, 0.5);
}

.About h2{
    font-size: 38px;
    font-family: "Poppins", sans-serif;
    color: #282938;
    font-weight: 600;
    width: 327px;

}
.About .para_one{
    padding-top: 16px ;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #282938;
    font-weight: 400;
    width: 327px;

}
.About h3{
    font-size: 32px;
    color: #282938;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 48px;



}
.About .Profile_area{
    display: flex;
    align-items: flex-start;
    column-gap: 14px;
    padding-top: 48px;
}
.About .Profile_area h6{
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #282938;


}
.About .Profile_area .para_two{
    font-size: 12px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #282938;


}
/*==========================
About  part end
============================*/

/*==========================
FAQ  part START
============================*/
.FAQ{
    padding: 128px 0px;
}

.accordion-header .span{
    padding-right: 40px;
    font-size: 20px;
    color: blue;
}
.accordion-button{
    font-size: 24px;
    color: #282938;
    font-family: "Poppins", sans-serif;
    font-weight: 400px;

}
.accordion-button.collapsed{
    color: black !important;
}
.accordion-button{
    color: white !important;
}
.accordion-item{
    border: 0px !important;
}
.accordion-body{
    border-bottom: 1px solid #ececf1;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 16px;
    padding-bottom: 48px;
    font-size: 18px;
    color: #282938;
    font-weight: 500;
    font-family: "Poppins", sans-serif;

}
.accordion-button::after{
    background-image: none;
    content: "+";
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}
.accordion-button:not(.collapsed)::after{
    background-image: none;
    content: "x";
    position: absolute;
    top: 40%;
    right: 30px;
    transform: translateY(-50%);


}
/*==========================
FAQ  part end
============================*/

/*==========================
Blog  part start
============================*/
.blog{
    padding: 128px 0px;


}
.blog h2{
    font-size: 48px;
    color: #282938;
    font-family: "Poppins", sans-serif;
    font-weight: 600;


}
.blog .card{
    width: 100% !important;
    border: 0px !important;
}
.blog .card-body{
    padding: 0px !important;
}
.blog .card-text-One{
    font-size: 16px;
    color: #282938;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding-bottom: 16px;
    padding-top: 40px;

}
.blog .card-title{
    font-size: 24px;
    color: #282938;
    font-weight: 500;
    font-family: "Poppins", sans-serif;

}
.blog .card-text-Two{
    font-size: 16px;
    color: #282938;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding-top: 16px;
    padding-bottom: 32px;

}
.blog .read-button{
    font-size: 18px;
    color: #282938;
    font-weight: 500;
    font-family: "Poppins", sans-serif;

}
.blog .read-button i{
    padding-left: 30px;
}
/*==========================
Blog  part end
============================*/
/*==========================
Contact  part Start
============================*/
.contact .ImageBox{
    position: relative;
}
.contact .ImageBox img{
    width: 100%;
    height: 100%;
}
.contact .ImageBox{
    position: relative;
    overflow: hidden;
    height: 100%;

}
.contact .overly{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -20%;
    transition: .4s;
    padding-top: 312px;
    padding-left: 48px;
    padding-right: 36px;
}
.contact .ImageBox .overly{
    width: 100%;
    height: 100%;
    background: rgba(28, 30, 83, 0.5);
    position: absolute;
    top: 100%;
    left: 100%;
    transition: .4s;
    padding: 96px;
    
}
.contact .ImageBox:hover .overly{

    left:  0;
    top: 0;
}

.contact .ImageBox .overly h2{
    font-size: 54px;
    font-weight: 600;
    color: white;
    font-family: "Poppins", sans-serif;
    padding-bottom: 24px;

}
.contact .ImageBox .overly p{
    font-size: 16px;
    font-weight: 500;
    color: white;
    font-family: "Poppins", sans-serif;

}
.contact .All-Input{
padding: 96px;
}
.contact .All-Input h4{
    font-size: 32px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: white;


}
.contact .All-Input p{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: white;

}
.contact .box{
    background: #1c1e53;

}
.contact .All-Input input{
    width: 100%;
    background: transparent;
    border: 1px solid rgb(255, 255, 255, 0.05);
    padding: 18px 32px;
    margin: 16px 0px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    font-family: "Poppins", sans-serif;


}
.contact .All-Input input::placeholder{
    font-size: 16px;
    color: rgb(244, 246, 252, 0.1);
}
.contact .All-Input .contact-button{
    background: #fcd980;
    width: 100%;
    padding: 16px 0px;
    border-radius: 41px;


}
.contact .All-Input .contact-link{
    text-align: center;
    padding-top: 30px;


}
/*==========================
Contact  part end
============================*/

/*==========================
Footer  part start
============================*/

.Footer{
    background: #1c1e53;
    padding-top: 100px;
    padding-bottom: 96px;
}
.Footer p{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: white;


}
.Footer .ParaOne{
    padding-top: 22px;
    width: 400px;



}
.Footer ul{
    display: flex;
    column-gap: 26px;
    padding: 0;

}
.Footer ul li i{
    color: white;
}
.Footer h4{
    color: white;
}
.Footer .BoxAdd{
    display: flex;   
    justify-content: space-around; 
    background: #FCD980;
    width: 517px;
    position: absolute;
    padding: 16px 0px;
    bottom: -96px;
    left: 0;
   
}
.Footer .BoxAdd h6{
    font-size: 18px;
    font-weight: 500;
    color: #282938;
    font-family: "Poppins", sans-serif;

}
.Footer .BoxAdd p{
    font-size: 16px;
    font-weight: 400;
    color: #282938;
    font-family: "Poppins", sans-serif;

}

/*==========================
Footer  part end
============================*/
/*==========================
Last  part start
============================*/

.copy ul{
    display: flex;
    column-gap: 32px;
}
.copy .box{
    display: flex;
    justify-content: space-between;
    padding: 32px;
}
.copy ul li{
    font-size: 18px;
    color: #282938;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transition: .4s;
    cursor: pointer;



}
.copy ul li:hover{
    color: red;

}
/*==========================
last  part end
============================*/